/* Estilos globais */

body {
    background: #e5e5e5;
    color: #25282b;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

body.hide-scroll { overflow: hidden; }

a {
    color: #ff5E84;
    font-weight: bold;
    text-decoration: none;
}

a:hover { text-decoration: none; }

.button {
    color: #fff;
    background: #ff5E84;
    width: 150px;
    height: 40px;
    border-radius: 6px;
    box-shadow: 0px 8px 16px #ff5E8432;
    font-size: 14px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
}

.button a:hover { color: #fff; }

.button:hover{ 
    text-decoration: none;
    background-color: #0984e3;
}


/* Estilo padrão */


p, .description {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
}

#container {
    width: 90%;
    max-width: 980px;
    margin: 40px auto;
    display: flex;
}

.intro {
    width: 300px;
    margin-right: 64px;
}

main { margin: 32px 0; }

.section-buttons {
    display: flex;
    margin-bottom: 32px;
    justify-content: space-evenly;
}

button {
    border: none;
    color: #ff5E84;;
    background: none;
    cursor: pointer;
    outline: none;
    font-size: 14px;
    line-height: 18px;
    font-weight: bold;
    letter-spacing: 0.2px;
    
}   

button:hover{ text-decoration: underline; }


footer {
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.2px;
    color: #777;
}

footer a {
    opacity: 0.8;
}

.idea {
    display: flex;
    margin-bottom: 32px;
    background-color: #fff;
    box-shadow: 0 4px 16px -8px rgba(1, 1, 1, 0.1);
    padding: 20px;
}

.idea img {
    width: 60px;
    height: 60px;
    margin-right: 32px;
}

.idea h3 { margin: 0;}

.idea p {
    margin: 8px 0;
    color: #777;
}

.idea .description { margin: 16px 0; }

/* Modal */

#modal {
    background: #ff5E84;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    transition: 400ms;
}

#modal.add-scroll { overflow: auto; }

#modal .content {
    margin-top: 15%;
    color: #fff;
}

#modal .content h1 {
    text-align: center;
    text-transform: uppercase;
}

#modal form {
    max-width: 800px;
    width: 80%;
    margin: 0 auto 15%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

#modal .content form div:nth-child(3),
#modal .content form div:nth-child(4),
#modal .content form div:nth-child(5) {
    grid-column-start: span 2;
}

form input,
form textarea {
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
    border-radius: 6px;
    border: 1px solid rgba(221, 72, 107, 0.1);
    outline: none;
    font-size: 16px;
}

label {
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0.8px;
}

form a {
    width: 150px;
    height: 40px;
    background-color: #ffffff22;
    color:#fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    font-weight: bold;
    font-size: 14px;
    transition: 400ms;

    align-self: end;
}

form a:hover {
    background-color: #fff;
    color: #ff5E84;
    text-decoration: none;
}

form button {
    background-color: #fff;
    width: 150px;
    height: 40px;
    text-decoration: none;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 32px;
    grid-column: 2;
    justify-self: end;
    transition: 400ms;
}

form button:hover {
    background-color: #0984e3;
    color: #fff;
    text-decoration: none;
}

#modal.hide {
    opacity: 0;
    visibility: hidden;
}


/* IDEAS.HTML */


#page-ideas #container {
    display: block;
}

#page-ideas header {
    display: flex;
    justify-content: space-between;
}

#page-ideas nav {
    display: flex;
    align-items: center;
}

li {
    list-style-type: none;
    margin-right: 16px;
}

li a { color: #25282b; }

#page-ideas nav li:last-child { margin: 0; }

section.title { text-align: center; }

section.title p {
    opacity: 0.4;
    margin: 0;
}

section.title h1 {
    margin: 0;
    font-size: 20px;
}

section.ideas {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

section.ideas .idea {
    margin: 0;
}

section.title,
section.ideas,
footer {
    margin-top: 64px;
}